.robot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    padding-top: 200px;;
}

.robot-face-shape {
    z-index: 1;
    width: 400px;
    height: 400px;
    background: linear-gradient(0deg, rgb(255, 204, 0) 0%, #ffe066 100%);
    border-radius: 25%;
    position: relative;
    border: solid 8px rgb(197, 158, 0); 
    /* padding-top: 200px; */
}

.robot-eye-left {
    z-index: 2;
    width: 80px;
    height: 30px;
    background-color: #fff;
    border-radius: 25%;
    position: absolute;
    top: 80px;
    left: 50px;
}

.robot-eye-right {
    z-index: 2;
    width: 80px;
    height: 40px;
    background-color: #fff;
    border-radius: 25%;
    position: absolute;
    top: 80px;
    right: 50px;
}

.robot-ear-left {
    z-index: 0;
  --s: 130deg;  /* starting angle */
  --p: 280deg; /* filling angle */

  height: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #851560;
  /* switch #0000 and #000 to get the opposite shape */
  mask: conic-gradient(from var(--s),#0000,#000 1deg var(--p),#0000 calc(var(--p) + 1deg));
  position: relative;
  /* margin: 100px; */
  left: -240px;
  bottom: 370px;
  scale: 0.4;
}

.robot-ear-right {
    z-index: 0;
  --s: -50deg;  /* starting angle */
  --p: 280deg; /* filling angle */

  height: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #851560;
  /* switch #0000 and #000 to get the opposite shape */
  mask: conic-gradient(from var(--s),#0000,#000 1deg var(--p),#0000 calc(var(--p) + 1deg));
  position: relative;
  /* margin: 100px; */
  /* right: 310px; */
  left: 240px;
  bottom: 615px;
  scale: 0.4;
}

.robot-nose {
    z-index: 3;
    position: relative;
    /* background: #851560; */
    scale: 0.35;
    top: 120px;
    left: 90px;
    /* width: 80px; */
    /* height: 80px; */

  --r: 50px; /* cut size */
  height: 180px;
  aspect-ratio: 1.2;
  border-radius: 20px;
  background: #F07818;
  mask: radial-gradient(var(--r) at var(--r),#0000 calc(100% - 1px),#000) calc(-1*var(--r));
}

.robot-teeth {
    width: 200px;
    height: 50px;
    position: absolute;
    background-color: crimson;
    left: 100px;
    top: 300px;;
    scale: 0.7;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    /* mask: conic-gradient(from -57.5deg at bottom,#0000,#000 1deg 114deg,#0000 115deg) 50%/47.09px 100%; */
}

.robot-tooth {
    z-index: 4;
    background-color: #fff;
    width: 20px;
    height: 100%;
    /* position: sticky;  */
    
    /* border-radius: 10%; */
}

.robot-hair-style {
    z-index: 0;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 170px;
    /* background-color: #4baeff; */
    /* border: solid 2px #000000; */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Changed from center to flex-end */
    gap: 5px;
}

.robot-hair-one {
    position: relative;
    background-color: #af6816;
    /* border: solid 1px #ffffff; */
    width: 100px;
    height: 40px;
}

.robot-hair-two {
    position: relative;

    background-color: #85cc34;
    /* border: solid 1px #ffffff; */
    width: 100px;
    height: 70px;
}

.robot-hair-three {
    position: relative;

    background-color: #4b7bb1;
    /* border: solid 1px #ffffff; */
    width: 100px;
    height: 100px;
}
